@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.bg-light {

    background: #342b38 !important;
    color: #fff;
    -webkit-box-shadow: 5px 9px 43px 1px rgba(0,0,0,0.18); 
	box-shadow: 5px 9px 43px 1px rgba(0,0,0,0.18);
    position: sticky;
    top: 0px;
}

.title-navbar {
    color: #fff;
}

body {
    background : #eee ;
}

.card {
    border : none !important;
    border-bottom: 3px solid #342b38 !important;
}

input[type=text] {

    background : #eee ;
    border: none !important;
    box-shadow: 0px 1px 1px #ddd !important;
}

input[type=file] {

    background : #eee ;
    border: none !important;
    box-shadow: 0px 1px 1px #ddd !important;
}

input[type=text]:focus{
    background : #eee ;
    border: none !important;
    box-shadow: 0px 4px 5px #ccc !important;
}

.table .thead-light th {
    color : #fff !important;
    background: #342b38 !important;
    border: none !important;
}
footer {
    position: fixed;
    height: 10px;
    width: 100%;
    background:#342b38 ;
    bottom: 0;
}